
<div class="card o-hidden border-0 shadow-lg my-1">
  <div class="card-body p-0">
    <!-- Nested Row within Card Body -->
    <div class="row">
      <div class="col-lg-1 d-none d-lg-block bg-register-image-list"></div>
      <div class="col-lg-11">
        <div class="p-1">
          <div class="row">
            <div class="col-lg-3">
                <button (click)="onAdd()" class="btn btn-success btn-icon-split">
                  <span class="icon text-white-50">
                    <i class="fas fa-arrow-right"></i>
                  </span>
                  <span class="text">Agregar</span>
                </button>
            </div>
            <div class="col-lg-9 text-center">
                <h1 class="h5 text-gray-900 mb-4">{{title}}</h1>
            </div>
          </div>
          <hr>
          <div class="table-responsive">
            <table class="table table-bordered"  width="100%" cellspancing="0">
              <thead>
                <tr>
                  <th>#</th>
                  <th>URL</th>
                  <th>Tratameinto</th>
                  <th>Opciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of details; let $index=index" >
                  <td>{{$index + 1}}</td>
                  <td>{{item.url}}</td>
                  <td>{{item.treatment}}</td>
                  <td>
                      <button (click)="onDelete(item.id)" class="btn btn-danger btn-circle btn-sm">
                          <i class="fa fa-trash"></i>
                      </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
