<br>
<div class="row">
  <div class="col-lg-3">
      <button (click)="onList()" class="btn btn-success btn-icon-split">
        <span class="icon text-white-50">
          <i class="fas fa-arrow-right"></i>
        </span>
        <span class="text">Listar</span>
      </button>
  </div>
</div>
<div class="card o-hidden border-0 shadow-lg my-5">
  <div class="card-body p-0">
    <!-- Nested Row within Card Body -->
    <div class="row">
      <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
      <div class="col-lg-7">
        <div class="p-5">
          <div class="text-center">
            <h1 class="h4 text-gray-900 mb-4">{{title}}</h1>
          </div>
          <form class="user" #formLabel="ngForm" (ngSubmit)="onSubmit()">
            <div class="form-group row">
              <div class="col-sm-6 mb-3 mb-sm-0">
                <div class="inner-addon left-addon">
                    <select class="form-control" #id_label="ngModel" name="id_label" [(ngModel)]="detail.id_label" required>
                      <option disabled="disabled" hidden>Seleccione</option>
                      <option *ngFor="let item of labels" [ngValue]="item.id">{{ item.name }}</option>
                    </select>
                    <span *ngIf="id_label.valid" style="color: green; font-size:12px" >Correcto</span>
                    <span *ngIf="!id_label.valid && id_label.touched" style="color: red; font-size:12px">Incorrecto</span>
                </div>
              </div>
              <div class="col-sm-6">
                <input type="text"  #url="ngModel" name="url" [(ngModel)]="detail.url" class="form-control form-control-user" id="url" placeholder="URL" required>
                  <span *ngIf="url.valid" style="color: green; font-size:12px" >Correcto</span>
                  <span *ngIf="!url.valid && url.touched" style="color: red; font-size:12px">Incorrecto</span>
              </div>
            </div>
            <hr>
            <div class="form-group">
                <label for="description">Tramiento:</label>
                <textarea #treatment="ngModel" name="treatment" [(ngModel)]="detail.treatment" class="form-control" rows="5" id="comment" required></textarea>
                <span *ngIf="treatment.valid" style="color: green; font-size:12px" >Correcto</span>
                <span *ngIf="!treatment.valid && treatment.touched" style="color: red; font-size:12px">Incorrecto</span>
            </div>
            <hr>
            <button type="submit" class="btn btn-primary btn-user btn-block">
              {{ button }}
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
