<br>
<div class="row">
  <div class="col-lg-3">
      <button (click)="onList()" class="btn btn-success btn-icon-split">
        <span class="icon text-white-50">
          <i class="fas fa-arrow-right"></i>
        </span>
        <span class="text">Listar</span>
      </button>
  </div>
</div>
<div class="card o-hidden border-0 shadow-lg my-2">
  <div class="card-body p-0">
    <!-- Nested Row within Card Body -->
    <div class="row">
      <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
      <div class="col-lg-7">
        <div class="p-5">
          <div class="text-center">
            <h1 class="h4 text-gray-900 mb-4">{{title}}</h1>
          </div>
          <form class="user" #formLabel="ngForm" (ngSubmit)="onSubmit()">
            <div class="form-group row">
              <div class="col-sm-6 mb-3 mb-sm-0">
                <div class="inner-addon left-addon">

                    <input type="text" #name="ngModel" name="name" [(ngModel)]="label.name" class="form-control form-control-user" id="name" placeholder="Nombre del Nutriente" required>
                    <span *ngIf="name.valid" style="color: green; font-size:12px" >Correcto</span>
                    <span *ngIf="!name.valid && name.touched" style="color: red; font-size:12px">Incorrecto</span>
                </div>
              </div>
              <div class="col-sm-6">
                <input type="text"  #symbol="ngModel" name="symbol" [(ngModel)]="label.symbol" class="form-control form-control-user" id="symbol" placeholder="Simbolo Quimico" maxlength="5" required>
                  <span *ngIf="symbol.valid" style="color: green; font-size:12px" >Correcto</span>
                  <span *ngIf="!symbol.valid && symbol.touched" style="color: red; font-size:12px">Incorrecto</span>
              </div>
            </div>
            <hr>
            <div class="form-group">
                <label for="description">Descripcion:</label>
                <textarea #description="ngModel" name="description" [(ngModel)]="label.description" class="form-control" rows="5" id="comment" required></textarea>
                <span *ngIf="description.valid" style="color: green; font-size:12px" >Correcto</span>
                <span *ngIf="!description.valid && description.touched" style="color: red; font-size:12px">Incorrecto</span>
            </div>
            <hr>
            <button type="submit" class="btn btn-primary btn-user btn-block">
              Registrar
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
