<br>
<div class="row">
  <div class="col-lg-3">
      <button (click)="onAdd()" class="btn btn-success btn-icon-split">
        <span class="icon text-white-50">
          <i class="fas fa-arrow-right"></i>
        </span>
        <span class="text">Agregar</span>
      </button>
  </div>
</div>
<div class="card o-hidden border-0 shadow-lg my-1">
  <div class="card-body p-0">
    <!-- Nested Row within Card Body -->
    <div class="row">
      <div class="col-lg-1 d-none d-lg-block bg-register-image-list"></div>
      <div class="col-lg-11">
        <div class="p-1">
          <div class="text-center">
            <h1 class="h5 text-gray-900 mb-4">Lista de Nutrientes</h1>
          </div>
          <div class="table-responsive">
            <table class="table table-bordered"  width="100%" cellspancing="0">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Nombre</th>
                  <th>Simbolo</th>
                  <th>Descripcion</th>
                  <th>opciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of labels; let $index=index" >
                  <td>{{$index + 1}}</td>
                  <td>{{item.name}}</td>
                  <td>{{item.symbol}}</td>
                  <td>{{item.description}}</td>
                  <td>
                      <button (click)="onDeleteLabel(item.id)" class="btn btn-danger btn-circle btn-sm">
                          <i class="fa fa-trash"></i>
                      </button>
                      <button (click)="onEdit(item.id)" class="btn btn-warning btn-circle btn-sm">
                          <i class="fa fa-wrench"></i>
                      </button>
                      <button (click)="onView(item.id)" class="btn btn-info btn-circle btn-sm">
                          <i class="fa fa-eye"></i>
                      </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
