<!-- Outer Row -->
<div class="row justify-content-center">
  <div class="col-xl-12 col-lg-12 col-md-12">
    <div class="row">
      <div class="col-lg-3">
          <button (click)="onList()" class="btn btn-success btn-icon-split">
            <span class="icon text-white-50">
              <i class="fas fa-arrow-right"></i>
            </span>
            <span class="text">Listar</span>
          </button>
          <button (click)="onPredict()" class="btn btn-info btn-icon-split">
              <span class="text">Predecir</span>
          </button>
      </div>
    </div>
    <div class="card o-hidden border-0 shadow-lg my-1">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-1 d-none d-lg-block bg-password-image"></div>
          <div class="col-lg-11">
            <div class="p-1">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-2">{{name}} {{symbol}}</h1>
              </div>
              <p class="mb-4">Descripcion : {{description}} </p>
              <div>
                <p class="h5 text-gray-900 mb-4">Tratamiento</p>
                <ul class="list-group">
                  <li *ngFor="let item of labels"  class="list-group-item">
                      <p class="mb-4">{{ item.treatment }}</p>
                      <p class="mb-4">URL:<a href="{{item.url }}"> Mas informacion ...</a></p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
