<!-- Outer Row -->
<div class="row justify-content-center">

  <div class="col-xl-12 col-lg-12 col-md-9">

    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-4 d-none d-lg-block bg-login-image"></div>
          <div class="col-lg-8">
            <div class="p-5">
              <br>
              <br>
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4"><b>Universidad Nacional de San Antonio Abad del Cusco</b></h1>
              </div>
              <div class="text-center">
                  <h1 class="h6 text-gray-900 mb-4"><b>Facultad de Ingeniería Eléctrica, Electrónica, Informática y Mecánica</b></h1>
              </div>
              <div class="text-center">
                  <h1 class="h6 text-gray-900 mb-4"><b>Escuela Profesional de Ingeniería Informática y de Sistemas</b></h1>
              </div>
              <hr>
              <div class="text-center">
                  <h1 class="h5 text-gray-900 mb-4"><b>Identificación de Anomalías por Deficiencia de Nutrientes en Persea Americana Variedad Hass Mediante Arquitectura Deep Learning</b></h1>
              </div>
              <hr>
              <div class="text-center">
                <p>Br. Gregori Vicente Huamán Cruz.</p>
                <p>Br. Lucero Betzabe Machaca Quispe.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
