<!-- Page Wrapper -->
<div id="wrapper">
  <!--Sidebar-->
  <app-admin-sidebar></app-admin-sidebar>
  <!-- End of Sidebar -->
  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

      <!-- End of Topbar -->

      <!-- Begin Page Content -->
      <div class="container-fluid">

        <router-outlet></router-outlet>


      </div>
      <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->

    <!-- Footer -->
   <!-- <app-admin-footer></app-admin-footer>-->
    <!-- End of Footer -->

  </div>
  <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->
