<div class="col-xl-12 col-lg-12 col-md-12">
  
  <div class="card o-hidden border-0 shadow-lg my-3">
    <div class="card-body p-0">
      <!-- Nested Row within Card Body -->
      <div class="row">
        <div class="col-lg-4"  *ngIf="!loader">
            <img class="img-pre" src="../../../assets/img/loader.gif">
        </div>
        <div class="col-lg-4" *ngIf="loader==true">
          <div class="p-1">
            <div class="text-center">
                <img  class="img-pre" [src]="imagenUrl" alt="">
                <form class="user" #formPrediction = ngForm (ngSubmit)="onSubmit()">
                  <div class="form-group">
                    <input type="file" id=file (change)="viewImage($event.target.files,$event)" name="file" class="form-control" accept="file/jpg && file/png" required/>
                  </div>
                  <button *ngIf="!habilitado" type="submit" class="btn btn-facebook btn-user btn-block">
                    <i class="fa fa-play"></i> Predicción
                  </button>
                  <button *ngIf="habilitado==true" class="btn btn-facebook btn-user btn-block" disabled>
                      <i class="fa fa-play"></i> Predicción
                  </button>
                </form>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="p-3">
            <!--Grafico de Barras-->
            <div class="text-center">
              <canvas baseChart
                  [datasets]="barChartData"
                  [labels]="pieChartLabels"
                  [options]="barChartOptions"
                  [legend]="barChartLegend"
                  [chartType]="barChartType"></canvas>
            </div>
            <!--end Grafico Barras-->
          </div>
        </div>
      </div>
      <div class="row text-center">
          <div class="col-lg-4">
              <div class="p-2">  
                <div *ngIf="visible==true">
                </div>
                <div *ngIf="!visible">
                  Inception-v3: {{elemento1[0]}} = {{elemento1[1] | number:'1.2-4'}}% 
                    <button (click)="onView(elemento1[2])" class="btn btn-success btn-circle btn-sm">
                        <i class="fa fa-arrow-right" ></i>
                    </button>
                </div>
              </div>
          </div>
          <div class="col-lg-4">
              <div class="p-2">  
                  <div *ngIf="visible==true">
                </div>
                <div *ngIf="!visible">
                  DenseNet: {{elemento2[0]}} = {{elemento2[1] | number:'1.2-4'}}%
                    <button (click)="onView(elemento2[2])" class="btn btn-success btn-circle btn-sm">
                        <i class="fa fa-arrow-right" ></i>
                    </button>
                </div>
              </div>
          </div>
          <div class="col-lg-4">
              <div class="p-2">  
                <div *ngIf="visible==true">
                </div>
                <div *ngIf="!visible">
                  MobilNet: {{elemento3[0]}} = {{elemento3[1] | number:'1.2-4'}}%
                    <button (click)="onView(elemento3[2])" class="btn btn-success btn-circle btn-sm">
                        <i class="fa fa-arrow-right" ></i>
                    </button>
                </div>
              </div>
          </div>
        </div>
      <div class="row">
        <div class="col-lg-4">
          <div class="p-1">
              <div class="text-center">
                <canvas baseChart
                    [data]="pieChartData1"
                    [labels]="pieChartLabels"
                    [chartType]="pieChartType"
                    [options]="pieChartOptions"
                    [colors]="color1"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)"></canvas>
              </div>
          </div>
        </div>
        <div class="col-lg-4">
            <div class="p-1">
                <div class="text-center">
                  <canvas baseChart
                      [data]="pieChartData2"
                      [labels]="pieChartLabels"
                      [chartType]="pieChartType"
                      [options]="pieChartOptions"
                      [colors]="color2"
                      (chartHover)="chartHovered($event)"
                      (chartClick)="chartClicked($event)"></canvas>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
          <div class="p-1">
              <div class="text-center">
                <canvas baseChart
                    [data]="pieChartData3"
                    [labels]="pieChartLabels"
                    [chartType]="pieChartType"
                    [options]="pieChartOptions"
                    [colors]="color3"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)"></canvas>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
